<table>
  <tr>
    <td>

      <center>
        <h1 class="center">
          <%= Spree.t('abandoned_cart_greeting') %>
        </h1>
      </center>

    </td>
    <td class="expander"></td>
  </tr>
</table>

<table class="row header">
  <tr>
    <td>
      <table class="container">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <%= render collection: @order.line_items, partial: 'spree/shared/mailer_line_item', as: :line_item %>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<table class="button">
     <tr>
       <td>
         <a href="<%= spree.root_url %>cart"><%= Spree.t('abandoned_cart_button_text') %></a>
       </td>
     </tr>
</table>
