<table>
  <tr>
    <td>

      <center>
        <h1 class="center">
          H1 <%= Spree.t('abandoned_cart_greeting') %>
        </h1>
      </center>

    </td>
    <td class="expander"></td>
  </tr>
</table>

<table>
  <tr>
    <td>

      <p class="lede">
        Lo <%= Spree.t('abandoned_cart_greeting') %>
      </p>

      <p>
        NE  <%= Spree.t('abandoned_cart_main_message') %>
      </p>

    </td>
    <td class="expander"></td>
  </tr>
</table>
